<html>
    <head>
        






        <script>
            function handleNewGame() {
                const choice = document.getElementById('choice').value;

                if (choice !== 'None') {
                    const message = "New(" + choice + ")";
                    console.log(message);
                    socket.send(message);
                    document.getElementById('control_check4').innerText = message;
                }
            }
        </script>
    </head>

    <body>
        <div id="control_check1">nothin for now</div>
        <div id="control_check2">nothin for now</div>
        <div id="control_check3">nothin for now</div>
        <div id="control_check4">nothin for now</div>
        <div id="mainContainer">game</div>




        <div id="MEW">
            <label for="choice">Player Count:</label>
            <select name="choice" id="choice">
                <option value="None">Choose</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <button type="button" id="newGameButton" onclick="handleNewGame()">New</button>        
        </div>
        
        
        
        
        















        



        <svg id="properties" width="1000" height="300" xmlns="http://www.w3.org/2000/svg"></svg>


        <svg id="game_map" width="3000" height="150" xmlns="http://www.w3.org/2000/svg"></svg>




        <div id="commands">
            <input type="text" name="text_submission">
        </div>






        <script>
            // Establish a WebSocket connection
            socket = new WebSocket('ws://localhost:4444');

            // Event handler for successful connection
            socket.onopen = function (event) {
                console.log('WebSocket connection established.');
                document.getElementById('control_check1').innerText = "opened";
                // Send a request to the server
                socket.send("{{username}}");
            };
      
            // Event handler for receiving data from the server
            socket.onmessage = function (event) {
                console.log('Received data:', event.data);
                // Update the HTML element with the received data
                document.getElementById('control_check2').innerText = event.data;

                var receivedData = event.data.replace(/"property":\s*<Board\.Property[^>]+>/g, '"property": null');
                receivedData = receivedData.replace(/<websockets\.legacy\.server\.WebSocketServerProtocol object at 0x[^>]+>/g, 'null');
                receivedData = receivedData.replace(/True/g, 'true');
                receivedData = receivedData.replace(/False/g, 'false');
                console.log(receivedData)
                try {
                var parsedData = JSON.parse(receivedData);
                console.log(parsedData);
                } catch (error) {
                console.error('Error parsing JSON:', error);
                }
                receivedData = JSON.parse(receivedData);

                // Get the container element where the buttons will be added
                var container = document.getElementById('mainContainer');
                container.innerHTML=""









                if(receivedData.state=="server"){
                    document.getElementById('commands').innerHTML="";
                    for (var gameId in receivedData.game_list) {
                        var user_dist = receivedData.game_list[gameId];

                        var divHTML =   '<div>' +
                                            gameId + ': ' + user_dist +
                                            '<button onclick="socket.send(\'Join('+   gameId+')\')">Join</button>' +
                                            '<button onclick="socket.send(\'Observe('+gameId+')\')">Observe</button>' +
                                        '</div>';

                        container.innerHTML += divHTML;

                    }
                }
                else{
                    document.getElementById('MEW').innerHTML="";
                    command_list=document.getElementById('commands');
                    var divHTML =   '<div>'
                    for (var gameId in receivedData.possible_commands) {
                        var COMMAND = receivedData.possible_commands[gameId];

                        
                            divHTML+='<button onclick="socket.send(\''+COMMAND+'\')">'+COMMAND+'</button>'

                        command_list.innerHTML = divHTML+'</div>';

                    }
                    // if(receivedData.state=="readywait"){
                        
                    // }

                    if(receivedData.state=="ingame"){
                        property_container=document.getElementById('properties');
                        prop_cards="";
                        for (var cell in receivedData.board_state) {
                            cell=receivedData.board_state[cell]
                            if (cell.type=="property"){
                                prop_cards+='<rect x="0" y="'+cell.y_position+'" width="600" height="50" fill="'+cell.color+'" stroke="black" stroke-width="1.5"/>'
                                prop_cards+='<text x="40" y="'+ (parseInt(cell.y_position)+25) +'" text-anchor="middle" fill="black">'+ cell.name +'</text>'
                                prop_cards+='<text x="150" y="'+ (parseInt(cell.y_position)+25) +'" text-anchor="middle" fill="black">Price: '+ cell.price +'</text>'
                                prop_cards+='<text x="400" y="'+ (parseInt(cell.y_position)+25) +'" text-anchor="middle" fill="black">Rents: '+ cell.rents +'</text>'
                            }
                            console.log(cell)
                        }
                        property_container.innerHTML=prop_cards




                        game_map_container=document.getElementById('game_map');
                        map_cell = "";

                        for (var cell of receivedData.board_state) {
                            if (cell.type == 'start') {
                                map_cell += '<rect x="0" y="0" width="200" height="100" fill="lime" stroke="black" stroke-width="1.5" />';
                                map_cell += '<text x="100" y="50" text-anchor="middle" fill="black">Start</text>';
                            } else if (cell.type == 'property') {
                                map_cell += '<rect x="' + cell.x_position + '" y="0" width="100" height="100" fill="' + cell.color + '" stroke="black" stroke-width="1.5" />';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="30" text-anchor="middle" fill="black">' + cell.name + '</text>';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="45" text-anchor="middle" fill="black">Price: ' + cell.price + '</text>';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="60" text-anchor="middle" fill="black">O: ' + cell.owner + '</text>';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="75" text-anchor="middle" fill="black">Level: ' + cell.level + '</text>';
                            } else if (cell.type == 'jail') {
                                map_cell += '<rect x="' + cell.x_position + '" y="0" width="100" height="100" fill="gray" stroke="black" stroke-width="1.5" />';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="50" text-anchor="middle" fill="black">Jail</text>';
                            } else if (cell.type == 'gotojail') {
                                map_cell += '<rect x="' + cell.x_position + '" y="0" width="100" height="100" fill="orange" stroke="black" stroke-width="1.5" />';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="50" text-anchor="middle" fill="black">Go to Jail</text>';
                            } else if (cell.type == 'tax') {
                                map_cell += '<rect x="' + cell.x_position + '" y="0" width="100" height="100" fill="purple" stroke="black" stroke-width="1.5" />';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="50" text-anchor="middle" fill="black">Tax</text>';
                            } else if (cell.type == 'teleport') {
                                map_cell += '<rect x="' + cell.x_position + '" y="0" width="100" height="100" fill="cyan" stroke="black" stroke-width="1.5" />';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="50" text-anchor="middle" fill="black">Teleport</text>';
                            } else if (cell.type == 'chance') {
                                map_cell += '<rect x="' + cell.x_position + '" y="0" width="100" height="100" fill="yellow" stroke="black" stroke-width="1.5" />';
                                map_cell += '<text x="' + (parseInt(cell.x_position) + 50) + '" y="50" text-anchor="middle" fill="black">Chance</text>';
                            }
                        }
                        for (var key in receivedData.user_svg_dict) {
                            var value = receivedData.user_svg_dict[key];
                            map_cell += '<circle cx="' + value.x_position + '" cy="90" r="10" fill="black" />';
                            map_cell += '<text x="' + value.x_position + '" y="110" text-anchor="middle" fill="black">' + value.user + '</text>';
                        }


                        game_map_container.innerHTML = map_cell;




                        
                    }
                }






                
            };
      
            // Event handler for WebSocket connection close
            socket.onclose = function (event) {
                console.log('WebSocket connection closed.');
                document.getElementById('control_check3').innerText = "closed";
            };
      
            // Event handler for WebSocket connection errors
            socket.onerror = function (error) {
                console.error('WebSocket error:', error);
                document.getElementById('control_check').innerText = "error";
            };
        </script>
    </body>
</html>