{% extends "server/base.html" %}
{% block 'main' %}
<h2>Server List:</h2>
{% if message%}
    <div>{{message}}</div>
{% endif %}

<form action="{% url 'join' %}" method="post">
    {% csrf_token %}
    <ul>
        {% for game in games %}
            <li>{{ game }}</li>
            <button type="submit" value="{{game.game_id}}" name="game_list_join">Join</button>
            <button type="submit" value="{{game.game_id}}" name="game_list_observe">Observe</button>
        {% endfor %}
    </ul>
</form>



    <form action="{% url 'addgame' %}" method="POST">
        {% csrf_token %}
        <label for="choice">Player Count:</label>
        <select name="choice" id="choice">
            <option value="None">Choose</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <button type="submit">New</button>
    </form>
    

{% endblock %}